#app {

  .main-container {
    min-height: 100%;
    transition: margin-left 0s;
    margin-left: $sideBarWidth;
    position: relative;
    padding-left: 0px;
  }
  .sidebar-container {
    width: $sideBarWidth;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color:$menuText !important;
    background-color: $menuBg !important;
    .menubar_collapse   {
      width: 100%;
      .el-button{
        float: right;
        border: 0px;
        width: $sideBarCollapseWidth;
        margin-right:17px;
      }
      :hover{
          background-color: $menuHover !important;
      }
    }
    .scrollbar-wrapper {
      overflow: hidden !important;
      height: 100%;
    }
    .scrollbar-wrapper * {
      color: inherit;
      background-color: inherit !important;
    }
    .el-submenu__title,.el-menu-item  {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
      }
    }
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
  }

  .collapse{
    .sidebar-container {
      width: $sideBarCollapseWidth !important;
      span,.el-icon-arrow-down{
        visibility: hidden;
      }
    }
    .main-container{
      margin-left: $sideBarCollapseWidth;
    }
  }


}

.el-menu--vertical {
  color:$menuText !important;
  background-color: $menuBg !important;
  margin-left: 1px;
}
